<%= form_for property do |f| %>
    <div class= "form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %> <br>
    </div>
   
     <div class= "form-group">
    <%= f.label "Photo" %>
    <%= f.file_field :avatar, class: "form-control" %> <br>
    </div>
    
    <% if property.location_id.nil? %>

    <div class="form-group">
    <h3>Choose from an existing location: </h3> 
    <%= f.collection_select :location_id, Location.all, :id, :name, :include_blank => true, class: "form-control"  %> <br>
    <br>

        <%= f.fields_for :location, Location.new do |p_location| %> <br>
            <h3> Or create a new location: </h3> 
            <div class= "form-group">
                <div class="row">
                    <div class="col">
                    <%= p_location.label "City" %>
                    <%= p_location.text_field :name, class:"form-control" %> <br> <br>
                    </div>
                    <div class="col">
                    <%= p_location.label :state %>
                    <%= p_location.text_field :state, class:"form-control" %> <br> <br>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
    <%= f.hidden_field :location_id %>
    <%end%>

    <div class= "form-group">
    <%= f.label :bedrooms %>
    <%= f.number_field :bedrooms, class: "form-control" %> <br>
    </div>

    <div class= "form-group">
    <%= f.label :bathrooms %>
    <%= f.number_field :bathrooms, class: "form-control" %> <br>
     </div>

    <%= f.label "Amenities:" %>
   
    <%= f.collection_check_boxes(:amenity_ids, Amenity.all, :id, :name) do |a| %>
            <%= a.label class:"label-checkbox" do%>
            <%=a.check_box + a.text%>
        <%end%>
    <% end %>
     <%= f.fields_for :amenities, Amenity.new do |p_amenity| %> <br>
            <h3> Or create a new amenity: </h3> 
            <div class= "form-group">
                <div class="row">
                    <div class="col">
                    <%= p_amenity.label :name %>
                    <%= p_amenity.text_field :name, class:"form-control" %> 
                    </div>
                </div>
            </div>
        <% end %>
    <%= f.label :available %>
    <%= f.check_box :available %> <br>

    <%= f.submit @property.persisted? ? "Update Property" : "Add Property" %>
<% end %>
