

<%= form_for property do |f| %>
    <div class= "form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %> <br>
    </div>

    
    <h3>Choose from an existing location: </h3> 
    <%=  f.collection_select :location_id, Location.all, :id, :name, :include_blank => true   %> <br>
    <%= f.fields_for :location, Location.new do |p_location| %> <br>
        <h3> Or create a new location: </h3> 
        <%= p_location.label "City" %>
        <%= p_location.text_field :name %> <br> <br>
        <%= p_location.label :state %>
        <%= p_location.text_field :state %> <br> <br>
        <% end %>

    <div class= "form-group">
    <%= f.label :bedrooms %>
    <%= f.number_field :bedrooms, class: "form-control" %> <br>
    </div>

    <div class= "form-group">
    <%= f.label :bathrooms %>
    <%= f.number_field :bathrooms, class: "form-control" %> <br>
     </div>

    <%= f.label "Amenities:" %>
   <div class="custom-control custom-checkbox">
    <%= f.collection_check_boxes :amenity_ids, Amenity.all, :id, :name, class: "custom-control-input" %> <br>
    </div >
    <%= f.submit @property.persisted? ? "Update Property" : "Add Property" %>
<% end %>
