<h1><%= @property.name %> <br></h1>

    <% if @property.avatar.attached? %>
        <image src="<%= (url_for(@property.avatar)) %>">
    <% end %>
    
    <h2><%= @property.location.name %>, <%= @property.location.state %></h2>
    <h3>Bedrooms: <%= @property.bedrooms %> <br></h3>
    <h3>Bathrooms: <%= @property.bathrooms %> <br></h3>
    <h3>Amenities:</h3>
    <% @property.amenities.each do |amenity| %>
       <p>  <li> <%= amenity.name %> </li> </p>
     <% end %>

<button><%= link_to "Edit Property", edit_property_path(@property) %></button>
<button><%= link_to "Delete Property", @property, method: :delete, data: { confirm: 'Are you sure?' }%></button>
<button><%= link_to "Return to home", properties_path %></button>
