<h1><%= @property.name %> <br></h1>
<%= @property.location.name %>, <%= @property.location.state %> <br>
Bedrooms: <%= @property.bedrooms %> <br>
Bathrooms: <%= @property.bathrooms %> <br>
<% @property.amenities.each do |amenity| %>
 <li>  <%= amenity.name %> </li> 
 <% end %>